PORT=3000
MONGO_URI=mongodb://juanrobayo1:Juanmi22@ac-kd4nx8i-shard-00-00.r4a7qgv.mongodb.net:27017,ac-kd4nx8i-shard-00-01.r4a7qgv.mongodb.net:27017,ac-kd4nx8i-shard-00-02.r4a7qgv.mongodb.net:27017/?ssl=true&replicaSet=atlas-j484b2-shard-0&authSource=admin&appName=Clean